[submodule "newlib"]
	path = newlib
	url = https://github.com/anza-xyz/newlib.git
	tag = solana-tools-v1.51

[submodule "rust"]
	path = rust
	url = https://github.com/anza-xyz/rust.git
	tag = solana-tools-v1.51

[submodule "cargo"]
	path = cargo
	url = https://github.com/anza-xyz/cargo.git
	tag = solana-tools-v1.51
